{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [cowboy, jiffy, epgsql, bcrypt, jwerl, lager]}.

{relx, [{release, { topics, "0.1.0" },
         [topics,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{lager, [
  {colored, true},
  {log_root, "/var/log/topics"},
  {handlers, [
    {lager_console_backend, [{level, info}]},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
